<template>
    <form @submit.prevent="onSubmit">
        <component v-for="field in fields" :key="field.name" :is="components[field.type]" :params="field"
            v-model="field.value">
        </component>
        <button class="button is-primary" type="submit">
            Сохранить
        </button>
    </form>
</template>

<script setup>
import { defineProps } from 'vue';
import Input from './Fields/Input.vue';
import Checkbox from './Fields/Checkbox.vue';
import Textarea from './Fields/Textarea.vue';

const props = defineProps({
    fields: Array,
    default: []
});

function onSubmit() {
    console.log(props.fields);
}



const components = {
    text: Input,
    email: Input,
    checkbox: Checkbox,
    textarea: Textarea,
}
</script>

<style lang="scss" scoped></style>