<template>
    <div id="auth">
        <div>
            <FormBuilder :fields="fields"></FormBuilder>
        </div>
    </div>
</template>

<script setup>
import FormBuilder from '../components/Form/FormBuilder.vue';

const fields = [
    {
        name: 'test',
        type: 'textarea',
        value: '',
        label: 'TEST'
    },
    {
        name: 'testEmail',
        type: 'email',
        value: '',
        label: 'Email'
    },
];
</script>

<style lang="scss" scoped></style>