<template>
    <div class="field">
        <label :for="params.name" class="checkbox">
            <input :id="params.name" :name="params.name" type="checkbox" v-model="params.value"
                @change="$emit('update:modelValue', $event.target.checked)">
            {{ params.label ? params.label : params.name }}
        </label>
    </div>
</template>

<script setup>
import { ref } from 'vue'

defineProps({
    params: Object,
});


defineEmits(['update:modelValue']);

</script>

<style lang="scss" scoped></style>