<template>
    <div class="field">
        <label class="label" :for="params.name">
            {{ params.label ? params.label : params.name }}
            <textarea class="textarea" :id="params.name" :name="params.name" :type="params.type" :value="params.modelValue"
                @input="$emit('update:modelValue', $event.target.value)"></textarea>
        </label>
    </div>
</template>

<script setup>
defineProps({
    params: Object,
});
defineEmits(['update:modelValue']);
</script>

<style lang="scss" scoped></style>